h2 {
	text-align: center;
}
li {
	list-style-type: none;
}











/*h1 {
	text-align: center;
	color: white;
}
body {
	background: darkgreen;
	text-align: center;
}
button {
	width: 200px;
}
footer {

}
#container {
	background: grey;
	justify-content: space-between;
}
.box {
	background: grey; 	
}*/