h2 {
	text-align: center;
	color: white;
	font-family: arial;
}
li {
	list-style-type: none;
	color: white;
	font-family: arial;
}
body {
	background: linear-gradient(darkgreen, grey);
}
#resultat {
	color: white;
	font-family: arial;
}
#stat {
	color: white;
	font-family: arial;
}
#ul {
	color: white;
	font-family: arial;
}

